/* Resetando margens e preenchimentos */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 240, 240); /* Cor de fundo da tela em RGB (um tom claro de cinza) */
}

/* Container que contém o letreiro */
#container {
    width: 80%; /* Largura do container */
    height: 100px; /* Altura do letreiro */
    overflow: hidden; /* Esconde o conteúdo fora do container */
    position: relative; /* Necessário para posicionar o letreiro dentro */
    background-color: rgb(34, 193, 195); /* Cor de fundo do container em RGB (verde-azulado) */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra discreta no container */
    border-radius: 10px; /* Bordas arredondadas no container */
}

/* Estilo do letreiro */
#letreiro {
    position: absolute;
    white-space: nowrap; /* Evita que o texto quebre a linha */
    font-size: 24px; /* Tamanho da fonte */
    font-family: 'Arial', sans-serif;
    color: blue; /* Cor do texto em azul */
    padding: 20px; /* Espaço livre em torno do texto */
    text-align: center; /* Alinha o texto ao centro */
}
